attempt1_isoseq_based/
00_input/
01_isoseq/
01_reference_tables/
02_make_gencode_database/
02_sqanti/
03_filter_sqanti/
04_CPAT/
04_transcriptome_summary/
05_orf_calling/
06_refine_orf_database/
07_make_cds_gtf/
08_rename_cds_to_exon/
09_sqanti_protein/
10_5p_utr/
11_protein_classification/
12_protein_gene_rename/
13_protein_filter/
14_protein_hybrid_database/
17_track_visualization/
18_SUPPA/
19_LRP_summary/